* {
  box-sizing: border-box;
}

.confirmPickUp6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  width: 375px;
  height: 1003px;
  overflow: hidden;

  .cancel {
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Neutral-1, #49493d);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .iconsPinShare1 {
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .systemStatusBarsBlac {
    width: 375px;
    height: 40px;
  }

  .group548 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding: 24px 190px 32px 24px;
    min-width: 375px;

    .iconsUpArrow1 {
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .uITextHeadingH3B {
      line-height: 16px;
      letter-spacing: 0;
      color: var(--Neutral-1, #49493d);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .texfielIconsRigntTex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 8px 21px 19px 24px;

    .autoWrapper {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 3px;
      padding-left: 0;

      .group593 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 158px;
        min-width: 158px;
        height: 24px;

        .shareTripsStatus {
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .share {
        margin: 7px 0px 0px;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--primary-1, #fecc2a);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }

    .diviver {
      margin-top: 11px;
      margin-left: 3px;
      background: #f3f3f3;
      width: 327px;
      height: 1px;
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 16px;
    padding-right: 24px;
    padding-left: 24px;

    .rectangle1 {
      display: flex;
      align-items: center;
      border-radius: 12px;
      background: var(--Neutral-4, #f3f3f3);
      padding: 13px 53px 15px;
    }

    .rectangle12 {
      display: flex;
      align-items: center;
      border-radius: 12px;
      background: var(--primary-1, #fecc2a);
      padding: 14px 56px 14px 54px;
    }
  }

  .autoWrapper3 {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-top: 40px;
    padding-right: 24px;
    padding-left: 24px;

    .ellipse35 {
      display: flex;
      align-items: center;
      border-radius: 50%;
      background: var(--background-1, #ffffff);

      .ellipse15 {
        border-radius: 50%;
        width: 48px;
        height: 48px;
      }
    }

    .group587 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 12px;

      .toyotaCamry9Htr789 {
        margin: 2px 0px 0px;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Neutral-1, #49493d);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }

    .ellipse6 {
      display: flex;
      align-items: center;
      margin-left: 85px;
      border-radius: 50%;
      box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
      background: var(--Neutral-4, #f3f3f3);
      padding: 14px;
    }
  }

  .autoWrapper4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 24px;
    padding-right: -225px;
    padding-left: 24px;

    .saveUpTo15OnAllRoute {
      margin: 12px 0px 0px;
      width: 248px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Neutral-1, #49493d);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .rectangle471 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 12px;
      box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
      background: var(--Neutral-5, #ffffff);
      padding: 16px;

      .learnMore {
        margin: 12px 0px 0px;
        line-height: 14px;
        letter-spacing: 0;
        color: var(--primary-1, #fecc2a);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-decoration: underline;
      }
    }

    .rectangle4712 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 12px;
      box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
      background: var(--Neutral-5, #ffffff);
      padding: 16px;

      .seeProfile {
        margin: 13px 0px 0px;
        line-height: 14px;
        letter-spacing: 0;
        color: var(--primary-1, #fecc2a);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-decoration: underline;
      }
    }
  }

  .saveThisDestination {
    margin: 16px 0px 0px 24px;
    line-height: 18px;
    letter-spacing: 0;
    color: var(--Neutral-2, #959595);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .appleUnionSquare {
    margin: 12px 0px 0px 24px;
    line-height: 16px;
    letter-spacing: 0;
    color: var(--Neutral-1, #49493d);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  .a300PosStSanFrancisc {
    margin: 8px 0px 0px 24px;
    line-height: 18px;
    letter-spacing: 0;
    color: var(--Neutral-2, #959595);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
  }

  .addToMySavedPlaces {
    margin: 12px 0px 0px 24px;
    line-height: 14px;
    letter-spacing: 0;
    color: var(--primary-1, #fecc2a);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
  }

  .rectangle472 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 24px 24px 0px;
    border-radius: 12px;
    box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
    background: var(--Neutral-5, #ffffff);
    padding: 16px;

    .trustedContacts {
      line-height: 18px;
      letter-spacing: 0;
      color: var(--Neutral-2, #959595);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .appleUnionSquare2 {
      margin: 8px 0px 0px;
      line-height: 16px;
      letter-spacing: 0;
      color: var(--Neutral-1, #49493d);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    .saveUpTo15OnAllRoute2 {
      margin: 16px 0px 0px;
      width: 295px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Neutral-1, #49493d);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .divider {
      margin-top: 12px;
      background: #f3f3f3;
      width: 295px;
      height: 1px;
    }

    .setUpTrustedContacts {
      margin: 11px 0px 0px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Neutral-1, #49493d);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .getGodyCashByUsingYo {
    margin: 8px 0px 0px 24px;
    width: 327px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--Neutral-1, #49493d);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  .barsHomeIndicatorIPh {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 24px;
    padding: 21px 121px 8px 120px;

    .homeIndicator {
      border-radius: 100px;
      background: var(--Neutral-1, #49493d);
      width: 134px;
      height: 5px;
    }
  }
}
