* {
  box-sizing: border-box;
}

.confirmPickUp4 {
  position: relative;
  background: #ffffff;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .screenShot20200107At {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 111px;
    width: 375px;
    height: 596px;
    background-image: url(../image/mpqpum7s-udzhn5t.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .iconsCrosshair1 {
      width: 17px;
      height: 17px;
      overflow: hidden;
    }

    .systemStatusBarsBlac {
      width: 375px;
      height: 40px;
    }

    .group548 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      padding: 24px 335px 32px 24px;

      .iconsMenu81 {
        width: 16px;
        height: 16px;
        overflow: hidden;
      }
    }

    .cardPickup {
      position: relative;
      margin-left: 24px;
      width: 327px;
      height: 68px;

      .rectangle469 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 12px;
        box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
        background: var(--primary-2, #fed16c);
        padding: 16px 16px 12px;
        width: 327px;
        height: 68px;

        .meetAtThePickupPoint {
          width: 199px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }

        .iconsPEdit1 {
          margin-top: 8px;
          width: 20px;
          height: 20px;
          overflow: hidden;
        }
      }

      .line20 {
        position: absolute;
        top: 34px;
        left: 259px;
        background: #959595;
        width: 32px;
        height: 1px;
        rotate: 90deg;
      }
    }

    .autoWrapper3 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 138px;
      padding-right: 24px;
      padding-left: 24px;

      .group589 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 12px 16px 32px;
        width: 271px;
        min-width: 271px;
        background-image: url(../image/mpqpum7j-ho70oh5.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .vecterDriver {
          margin-top: 4px;
          width: 56px;
          height: 49px;
        }

        .autoWrapper {
          position: relative;
          width: 172px;
          height: 40px;

          .helpDriversFindsYouM {
            position: absolute;
            top: 0;
            left: 0;
            width: 172px;
            height: 40px;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Neutral-1, #49493d);
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }

          .shareLiveLocationFor {
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 164px;
            height: 18px;
            line-height: 18px;
            letter-spacing: 0;
            color: var(--Neutral-1, #49493d);
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }
      }

      .autoWrapper2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 15px;

        .ellipse6 {
          display: flex;
          align-items: center;
          align-self: stretch;
          border-radius: 50%;
          box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
          background: var(--Neutral-5, #ffffff);
          padding: 12px;
        }

        .ellipse62 {
          display: flex;
          align-items: center;
          align-self: stretch;
          margin-top: 16px;
          border-radius: 50%;
          box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
          background: var(--Neutral-5, #ffffff);
          padding: 12px;
        }
      }
    }

    .ellipse63 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin: 16px 24px 0px 311px;
      border-radius: 50%;
      box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
      background: var(--Neutral-5, #ffffff);
      padding: 12px;
    }
  }

  .rectangle468 {
    display: flex;
    position: absolute;
    top: 509px;
    left: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 24px 24px 0px 0px;
    background: var(--Neutral-5, #ffffff);
    padding-top: 32px;
    width: 375px;
    height: 303px;

    .toyotaCamry {
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Neutral-1, #49493d);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .allDriversAreScreene {
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Neutral-1, #49493d);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .divider {
      margin-top: 16px;
      background: #f3f3f3;
      width: 327px;
      height: 1px;
    }

    .autoWrapper4 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 23px;
      padding-right: 48px;
      padding-left: 0;

      .car11 {
        width: 120px;
        height: 61px;
      }

      .aText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .a9Htr789 {
          margin: 0px 0px 0px 19px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .group586 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 12px 105px 0px;
      min-width: 165px;
      height: 20px;

      .iconsShapeStar1 {
        width: 12px;
        height: 12px;
        overflow: hidden;
      }
    }

    .autoWrapper7 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 20px;
      padding-right: 48px;
      padding-left: 0;

      .ellipse64 {
        display: flex;
        align-items: center;
        border-radius: 50%;
        box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
        background: var(--Neutral-4, #f3f3f3);
        padding: 14px;

        .iconsSmartphone1 {
          width: 20px;
          height: 20px;
          overflow: hidden;
        }
      }

      .rectangle407 {
        display: flex;
        align-items: center;
        border-radius: 24px;
        background: var(--Neutral-4, #f3f3f3);
        padding: 14px 73px 14px 16px;

        .anyPickUpNotes {
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-2, #959595);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50%;
        box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
        background: var(--Neutral-4, #f3f3f3);
        padding: 14px;
        width: 48px;
        min-width: 48px;
        height: 48px;
        overflow: hidden;

        .vector {
          background: var(--primary-1, #fecc2a);
          width: 3px;
          height: 2px;
        }

        .autoWrapper6 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;

          .vector2 {
            background: var(--primary-1, #fecc2a);
            width: 2px;
            height: 3px;
          }

          .autoWrapper5 {
            position: relative;
            margin-top: 2px;
            width: 12px;
            height: 12px;

            .vector3 {
              position: absolute;
              top: -2px;
              left: -1px;
              background: var(--primary-1, #fecc2a);
              width: 2px;
              height: 2px;
              rotate: -45deg;
            }

            .vector4 {
              position: absolute;
              top: -1px;
              right: -2px;
              background: var(--primary-1, #fecc2a);
              width: 2px;
              height: 2px;
              rotate: -45deg;
            }

            .vector5 {
              position: absolute;
              right: -1px;
              bottom: -2px;
              background: var(--primary-1, #fecc2a);
              width: 2px;
              height: 2px;
              rotate: -45deg;
            }

            .vector6 {
              position: absolute;
              bottom: -1px;
              left: -2px;
              background: var(--primary-1, #fecc2a);
              width: 2px;
              height: 2px;
              rotate: -45deg;
            }

            .vector7 {
              position: absolute;
              top: 0;
              left: 0;
              background: var(--primary-1, #fecc2a);
              width: 12px;
              height: 12px;
            }
          }

          .vector8 {
            margin-top: 2px;
            background: var(--primary-1, #fecc2a);
            width: 2px;
            height: 3px;
          }
        }
      }
    }

    .barsHomeIndicatorIPh {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 16px;
      padding: 21px 121px 8px 120px;

      .homeIndicator {
        border-radius: 100px;
        background: var(--Neutral-1, #49493d);
        width: 134px;
        height: 5px;
      }
    }
  }
}
