* {
  box-sizing: border-box;
}

.map3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 26px 270px 36px;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .screenShot20200107At {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 26px;
    width: 375px;
    height: 812px;
    background-image: url(../image/mpqobmg2-rr983vy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .systemStatusBarsBlac {
      width: 375px;
      height: 40px;
    }

    .iconsMenu61 {
      margin-top: 24px;
      margin-left: 29px;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }

    .rectangle506 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 366px 110px 0px 132px;
      border-radius: 12px;
      box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
      background: var(--Neutral-5, #ffffff);
      padding: 12px;

      .pickUp {
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Neutral-2, #959595);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .whereToText {
        margin: 4px 0px 0px;
        width: 109px;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Neutral-1, #49493d);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .iconsLocation {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin: 4px 245px 0px 110px;

      .oval {
        border-radius: 50%;
        background: var(--primary-1, #fecc2a);
        width: 20px;
        height: 20px;
      }
    }

    .autoWrapper {
      position: relative;
      margin-top: 70px;
      margin-left: 24px;
      width: 327px;
      height: 156px;

      .homeIndicator2 {
        display: flex;
        position: absolute;
        right: -24px;
        bottom: -26px;
        align-items: flex-start;
        padding: 21px 121px 8px 120px;
        width: 375px;
        height: 34px;

        .homeIndicator {
          border-radius: 100px;
          background: var(--Neutral-1, #49493d);
          width: 134px;
          height: 5px;
        }
      }

      .rectangle406 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 12px;
        box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
        background: var(--Neutral-5, #ffffff);
        padding: 20px 39px 19px 16px;
        width: 327px;
        height: 156px;

        .pickUpIn8M39S3 {
          line-height: 20px;
          letter-spacing: 0;
          color: #000000;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;

          .pickUpIn8M39S {
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Neutral-1, #49493d);
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }

          .pickUpIn8M39S2 {
            line-height: 20px;
            letter-spacing: 0;
            color: var(--primary-1, #fecc2a);
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }
        }

        .toAppleUnionSquare {
          margin: 19px 0px 0px;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .at350PmFromSanFancis {
          margin: 8px 0px 0px;
          line-height: 18px;
          letter-spacing: 0;
          color: var(--Neutral-2, #959595);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .a1600 {
          margin: 16px 0px 0px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  .autoWrapper2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .car {
      margin-left: 124px;
      width: 16px;
      height: 32px;
      overflow: hidden;
      rotate: -55deg;
    }

    .car2 {
      margin-top: 98px;
      margin-left: 216px;
      width: 16px;
      height: 32px;
      overflow: hidden;
      rotate: -6deg;
    }

    .car3 {
      margin-top: 27px;
      width: 16px;
      height: 32px;
      overflow: hidden;
      rotate: 39deg;
    }

    .car4 {
      margin-top: 51px;
      margin-left: 137px;
      width: 16px;
      height: 32px;
      overflow: hidden;
      rotate: 20deg;
    }

    .car5 {
      margin-top: 28px;
      margin-left: 6px;
      width: 16px;
      height: 32px;
      overflow: hidden;
      rotate: 90deg;
    }

    .car6 {
      margin-top: 96px;
      margin-left: 297px;
      width: 16px;
      height: 32px;
      overflow: hidden;
      rotate: 90deg;
    }
  }
}
