* {
  box-sizing: border-box;
}

.confirmPickUp5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding-bottom: 35px;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .safety {
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Neutral-1, #49493d);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .diviver {
    margin-top: 11px;
    margin-left: 3px;
    background: #f3f3f3;
    width: 327px;
    height: 1px;
  }

  .addOrChange {
    margin: 7px 0px 0px;
    line-height: 18px;
    letter-spacing: 0;
    color: var(--primary-1, #fecc2a);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .addHome {
    line-height: 24px;
    letter-spacing: 0;
    color: var(--Neutral-1, #49493d);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .iconsSmartphone1 {
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .toyotaCamry {
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Neutral-1, #49493d);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .systemStatusBarsBlac {
    width: 375px;
    height: 40px;
  }

  .group548 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding: 24px 228px 32px 24px;
    min-width: 375px;

    .iconsUpArrow1 {
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .uITextHeadingH3B {
      line-height: 16px;
      letter-spacing: 0;
      color: var(--Neutral-1, #49493d);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .allDriversAreScreene {
    margin: 12px 0px 0px 113px;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Neutral-1, #49493d);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .divider {
    margin-top: 16px;
    margin-left: 24px;
    background: #f3f3f3;
    width: 327px;
    height: 1px;
  }

  .autoWrapper {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 23px;
    padding-right: 24px;
    padding-left: 24px;

    .car11 {
      width: 120px;
      height: 61px;
    }

    .aText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .a9Htr789 {
        margin: 0px 0px 0px 19px;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Neutral-1, #49493d);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .group586 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin: 12px 105px 0px;
    min-width: 165px;

    .iconsShapeStar1 {
      margin-top: 2px;
      width: 12px;
      height: 12px;
      overflow: hidden;
    }
  }

  .autoWrapper4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 16px;
    padding-left: 24px;

    .ellipse6 {
      display: flex;
      align-items: center;
      border-radius: 50%;
      box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
      background: var(--Neutral-4, #f3f3f3);
      padding: 14px;
    }

    .rectangle407 {
      display: flex;
      align-items: center;
      border-radius: 24px;
      background: #fbfbfb;
      padding: 14px 73px 14px 16px;

      .anyPickUpNotes {
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Neutral-2, #959595);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 50%;
      box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
      background: var(--Neutral-4, #f3f3f3);
      padding: 14px;
      width: 48px;
      min-width: 48px;
      height: 48px;
      overflow: hidden;

      .vector {
        background: var(--primary-1, #fecc2a);
        width: 3px;
        height: 2px;
      }

      .autoWrapper3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .vector2 {
          background: var(--primary-1, #fecc2a);
          width: 2px;
          height: 3px;
        }

        .autoWrapper2 {
          position: relative;
          margin-top: 2px;
          width: 12px;
          height: 12px;

          .vector3 {
            position: absolute;
            top: -2px;
            left: -1px;
            background: var(--primary-1, #fecc2a);
            width: 2px;
            height: 2px;
            rotate: -45deg;
          }

          .vector4 {
            position: absolute;
            top: -1px;
            right: -2px;
            background: var(--primary-1, #fecc2a);
            width: 2px;
            height: 2px;
            rotate: -45deg;
          }

          .vector5 {
            position: absolute;
            right: -1px;
            bottom: -2px;
            background: var(--primary-1, #fecc2a);
            width: 2px;
            height: 2px;
            rotate: -45deg;
          }

          .vector6 {
            position: absolute;
            bottom: -1px;
            left: -2px;
            background: var(--primary-1, #fecc2a);
            width: 2px;
            height: 2px;
            rotate: -45deg;
          }

          .vector7 {
            position: absolute;
            top: 0;
            left: 0;
            background: var(--primary-1, #fecc2a);
            width: 12px;
            height: 12px;
          }
        }

        .vector8 {
          margin-top: 2px;
          background: var(--primary-1, #fecc2a);
          width: 2px;
          height: 3px;
        }
      }
    }
  }

  .texfielIconsRigntTex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 24px;
    padding: 8px 21px 19px 24px;

    .autoWrapper5 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 3px;
      padding-left: 0;

      .group593 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 105px;
        min-width: 105px;
        height: 24px;
      }
    }
  }

  .texfielIconsRigntTex2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 8px 21px 19px 24px;

    .autoWrapper6 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 3px;
      padding-left: 0;

      .group5932 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 59px;
        min-width: 59px;
        height: 24px;
      }
    }
  }

  .texfielIconsRigntTex3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 8px 21px 19px 24px;

    .autoWrapper7 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 3px;
      padding-left: 0;

      .group5933 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 189px;
        min-width: 189px;
        height: 24px;
      }
    }
  }

  .texfielIconsRigntTex4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 8px 21px 19px 24px;

    .autoWrapper8 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 3px;
      padding-left: 0;

      .group5934 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 158px;
        min-width: 158px;
        height: 24px;
      }
    }
  }

  .autoWrapper9 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 16px;
    padding-right: 24px;
    padding-left: 24px;

    .rectangle1 {
      display: flex;
      align-items: center;
      border: 1px solid var(--primary-1, #fecc2a);
      border-radius: 12px;
      background: var(--Neutral-5, #ffffff);
      padding: 13px 52px;

      .cancel {
        line-height: 20px;
        letter-spacing: 0;
        color: var(--primary-1, #fecc2a);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .rectangle12 {
      display: flex;
      align-items: center;
      border-radius: 12px;
      background: var(--primary-1, #fecc2a);
      padding: 14px 56px 14px 54px;
    }
  }

  .autoWrapper10 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 40px;
    padding-right: 24px;
    padding-left: 24px;

    .ellipse35 {
      display: flex;
      align-items: center;
      border-radius: 50%;
      background: var(--background-1, #ffffff);

      .ellipse15 {
        border-radius: 50%;
        width: 48px;
        height: 48px;
      }
    }

    .group587 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 5px;
      margin-left: 12px;

      .toyotaCamry9Htr789 {
        margin: 2px 0px 0px;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Neutral-1, #49493d);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }

    .ellipse62 {
      display: flex;
      align-items: center;
      margin-left: 85px;
      border-radius: 50%;
      box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
      background: var(--Neutral-4, #f3f3f3);
      padding: 14px;
    }
  }
}
