* {
  box-sizing: border-box;
}

.rectangle4102 {
  position: relative;
  background: #ffffff;
  width: 375px;
  height: 812px;

  .screenShot20200107At {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 116px;
    width: 375px;
    height: 496px;
    background-image: url(../image/mpqo4yw1-bplbc4u.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .rectangle463 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      background: #ffffff;
      padding: 56px 24px 24px;

      .ellipse35 {
        display: flex;
        align-items: center;
        border-radius: 50%;
        background: var(--background-1, #ffffff);

        .ellipse15 {
          border-radius: 50%;
          width: 60px;
          height: 60px;
        }
      }

      .goodMorningJohn {
        margin: 20px 0px 0px 12px;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Neutral-1, #49493d);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .iconsMenu81 {
        margin-top: 20px;
        margin-left: 89px;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }

    .ellipse6 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin: 192px 24px 0px 303px;
      border-radius: 50%;
      box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
      background: var(--Neutral-5, #ffffff);
      padding: 14px;

      .iconsCarFront1 {
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }
  }

  .rectangle410 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    background: #00000099;
    width: 375px;
    height: 812px;

    .systemStatusBarsWhit {
      width: 375px;
      height: 40px;
    }

    .rectangle406 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 333px;
      border-radius: 24px 24px 0px 0px;
      background: var(--Neutral-5, #ffffff);

      .a45 {
        margin: 0px 0px 0px 40px;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Neutral-3, #bdbdbd);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .sun22Sep {
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Neutral-4, #f3f3f3);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .barsHomeIndicatorIPh {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding: 16px 164px 16px 163px;
        overflow: hidden;

        .homeIndicator {
          border-radius: 100px;
          background: var(--Neutral-4, #f3f3f3);
          width: 48px;
          height: 4px;
        }
      }

      .scheduleATrip {
        margin: 16px 0px 0px 121px;
        line-height: 16px;
        letter-spacing: 0;
        color: var(--Neutral-1, #49493d);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .tue24Sep {
        margin: 12px 0px 0px 157px;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Neutral-1, #49493d);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }

      .a350Pm400Pm {
        margin: 4px 0px 0px 118px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Neutral-1, #49493d);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .time {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin: 24px 86px 0px 77px;

        .a1 {
          margin: 1px 0px 0px 15px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-4, #f3f3f3);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .a40 {
          margin: 1px 0px 0px 40px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-4, #f3f3f3);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .pM {
          margin: 3px 0px 0px 40px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-4, #f3f3f3);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .time2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin: 4px 86px 0px 77px;

        .mon23Sep {
          margin: 2px 0px 0px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-3, #bdbdbd);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .a2 {
          margin: 0px 0px 0px 11px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-3, #bdbdbd);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .line16 {
        margin-top: 4px;
        background: #f3f3f3;
        width: 375px;
        height: 1px;
      }

      .time3 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin: 15px 82px 0px 77px;

        .today {
          line-height: 16px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .a3 {
          margin: 0px 0px 0px 30px;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }

        .a50 {
          margin: 0px 0px 0px 36px;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .line17 {
        margin-top: 16px;
        background: #f3f3f3;
        width: 375px;
        height: 1px;
      }

      .time4 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin: 3px 148px 0px 77px;

        .wed25Step {
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-3, #bdbdbd);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .a4 {
          margin: 0px 0px 0px 7px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-3, #bdbdbd);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .time5 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin: 4px 148px 0px 77px;

        .a5 {
          margin: 0px 0px 0px 10px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-4, #f3f3f3);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .a60 {
          margin: 0px 0px 0px 40px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-4, #f3f3f3);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .autoWrapper {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 33px;
        padding-right: 24px;
        padding-left: 24px;

        .cancel {
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }

        .rectangle1 {
          display: flex;
          align-items: center;
          border-radius: 12px;
          background: var(--Neutral-4, #f3f3f3);
          padding: 13px 53px 15px;
        }

        .rectangle12 {
          display: flex;
          align-items: center;
          border-radius: 12px;
          background: var(--primary-1, #fecc2a);
          padding: 14px 46px 14px 45px;
        }
      }

      .barsHomeIndicatorIPh2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 24px;
        padding: 21px 121px 8px 120px;

        .homeIndicator2 {
          border-radius: 100px;
          background: var(--Neutral-1, #49493d);
          width: 134px;
          height: 5px;
        }
      }
    }
  }
}
