* {
  box-sizing: border-box;
}

.profile {
  position: relative;
  background: #ffffff;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .iconsCar21 {
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .rectangle410 {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 812px;

    .screenShot20200107At {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 143px;
      width: 375px;
      height: 496px;
      background-image: url(../image/mpqq76gy-2i1qoav.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .rectangle463 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        background: #ffffff;
        padding-bottom: 47px;

        .systemStatusBarsBlac {
          width: 375px;
          height: 40px;
        }

        .iconsMenu81 {
          margin-top: 31px;
          margin-left: 331px;
          width: 20px;
          height: 20px;
          overflow: hidden;
        }
      }

      .ellipse6 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin: 167px 24px 0px 303px;
        border-radius: 50%;
        box-shadow: var(--Card-1, 0px 4px 40px 0px #0000000d);
        background: var(--Neutral-5, #ffffff);
        padding: 14px;
      }
    }

    .rectangle406 {
      display: flex;
      position: absolute;
      top: 395px;
      left: 0;
      flex-direction: column;
      align-items: center;
      border-radius: 24px 24px 0px 0px;
      background: var(--Neutral-5, #ffffff);
      padding-top: 32px;
      padding-bottom: 185px;
      width: 375px;
      height: 417px;

      .diviver {
        background: #f3f3f3;
        width: 327px;
        height: 1px;
      }

      .rectangle407 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-right: 24px;
        margin-left: 24px;
        border-radius: 12px;
        background: var(--Neutral-4, #f3f3f3);
        padding: 17px 16px 17px 261px;

        .schedule {
          line-height: 14px;
          letter-spacing: 0;
          color: var(--Neutral-1, #49493d);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
          text-decoration: underline;
        }
      }

      .texfielIconsRigntTex {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 24px;
        padding: 44px 21px 19px 27px;
      }

      .texfielIconsRigntTex2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        padding: 44px 21px 19px 27px;
      }
    }
  }

  .car {
    position: absolute;
    top: 249px;
    left: 330px;
    width: 16px;
    height: 32px;
    overflow: hidden;
    rotate: -47deg;
  }

  .rectangle4102 {
    position: absolute;
    top: 0;
    left: 0;
    background: #00000099;
    width: 375px;
    height: 812px;

    .rectangle475 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      background: var(--Neutral-5, #ffffff);
      padding-bottom: 244px;
      width: 315px;
      height: 812px;

      .pushPuttichai {
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Neutral-1, #49493d);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }

      .rectangle476 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        background: var(--primary-1, #fecc2a);
        padding: 64px 114px 64px 24px;
        min-width: 315px;
        height: 188px;

        .ellipse35 {
          display: flex;
          align-items: center;
          border-radius: 50%;
          background: var(--background-1, #ffffff);

          .ellipse15 {
            border-radius: 50%;
            width: 60px;
            height: 60px;
          }
        }
      }

      .autoWrapper {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 48px;
        padding-right: 198px;
        padding-left: 21px;
      }

      .autoWrapper2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 32px;
        padding-right: 195px;
        padding-left: 21px;
      }

      .autoWrapper3 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 32px;
        padding-right: 225px;
        padding-left: 21px;
      }

      .autoWrapper4 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 32px;
        padding-right: 183px;
        padding-left: 21px;
      }

      .autoWrapper5 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 32px;
        padding-right: 182px;
        padding-left: 21px;
      }

      .autoWrapper6 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 32px;
        padding-right: 191px;
        padding-left: 21px;
      }

      .autoWrapper7 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 32px;
        padding-right: 199px;
        padding-left: 21px;
      }
    }

    .barsHomeIndicatorIPh {
      display: flex;
      position: absolute;
      top: 778px;
      left: 0;
      align-items: flex-start;
      padding: 21px 121px 8px 120px;
      width: 375px;
      height: 34px;

      .homeIndicator {
        border-radius: 100px;
        background: var(--Neutral-1, #49493d);
        width: 134px;
        height: 5px;
      }
    }
  }

  .systemStatusBarsBlac2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 40px;
  }
}
